{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'nprogress.css' %}">
  <script src="{% static 'nprogress.js' %}"></script>

  
  <title>Let Them Know</title>
</head>

<body>
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <nav class="navbar  bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand text-primary p-0 py-1" href="/"><i class="fa fa-home fa-lg"></i></a> 
      <a class="navbar-brand text-primary p-0 py-1" href="/">
        Let Them Know
      </a> 

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-text text-primary p-0 py-1" href="/info"><i class="fa fa-info-circle fa-lg"></i></a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-8">

        <div class="corona_info_stat">
          <div id="myCarousel" class="carousel slide vertical" data-ride="carousel">
            <!-- Carousel items -->
            <div class="corona_stat_table">
              <table class="table small table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" colspan="3" class="text-center font-weight-bold">বিশ্বে</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>মোট আক্রান্ত: {{ world_result.cases }}</td>
                    <td>মৃত্যু: {{ world_result.deaths }}</td>
                    <td>সুস্থ: {{ world_result.recovered }}</td>
                  </tr>
                </tbody>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" colspan="3" class="text-center font-weight-bold">বাংলাদেশে</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>মোট আক্রান্ত: {{ bangladesh_result.cases }}</td>
                    <td>আজ আক্রান্ত: {{ bangladesh_result.todayCases }}</td>
                    <td>মোট মৃত্যু: {{ bangladesh_result.deaths }}</td>
                  </tr>
                  <tr>
                    <td>আজ মৃত্যু: {{ bangladesh_result.todayDeaths }}</td>
                    <td>সুস্থ: {{ bangladesh_result.recovered }}</td>
                    <td>বর্তমানে আক্রান্ত: {{ bangladesh_result.active }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div>
          <div id="info" class="alert alert-info small" role="alert">
            {% if position.address and position.user_id %}
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ position.address }}
            {% else %}
            Please share your location to submit your response.
            {% endif %}
          </div>
        </div>

        <ul class="nav nav-tabs nav-justified border-0 small" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active border border-success border-bottom-0" id="safe-tab" data-toggle="tab" href="#safe" role="tab" aria-controls="safe"
              aria-selected="true">Safe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border border-warning border-bottom-0" id="panicked-tab" data-toggle="tab" href="#panicked" role="tab" aria-controls="panicked"
              aria-selected="false">Panicked</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border border-danger border-bottom-0" id="affected-tab" data-toggle="tab" href="#affected" role="tab" aria-controls="affected"
              aria-selected="false">Affected</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active border-success" id="safe" role="tabpanel" aria-labelledby="safe-tab"></div>
          <div class="tab-pane fade border-warning" id="panicked" role="tabpanel" aria-labelledby="panicked-tab"></div>
          <div class="tab-pane fade border-danger" id="affected" role="tabpanel" aria-labelledby="affected-tab"></div>
        </div>
      </div>
      <div class="col-sm-4">

        <div class="frb-group">
          <div class="frb frb-success">
            <input type="radio" id="radio-button-1" name="radio-button" value="1" {% if position.state == '1' %}
              checked="checked" {% endif %}>
            <label for="radio-button-1">
              <span class="frb-title">I am Safe</span>
              <span class="frb-description">I think I am safe. I can manage it.</span>
            </label>
          </div>
          <div class="frb frb-warning">
            <input type="radio" id="radio-button-2" name="radio-button" value="2" {% if position.state == '2' %}
              checked="checked" {% endif %}>
            <label for="radio-button-2">
              <span class="frb-title">I am Panicked!</span>
              <span class="frb-description">I am panicked! I dont know what to do.</span>
            </label>
          </div>
          <div class="frb frb-danger">
            <input type="radio" id="radio-button-3" name="radio-button" value="3" {% if position.state == '3' %}
              checked="checked" {% endif %}>
            <label for="radio-button-3">
              <span class="frb-title">I Think, I am Affected!!</span>
              <span class="frb-description">I am getting CODIV-19 Symtoomps! Help!!</span>
            </label>
          </div>
        </div>

        <div class="alert alert-secondary small" role="alert">
          Total Responses: {{ total_response }} Persons
        </div>

      </div>
    </div>


    <div class="navbar fixed-bottom">
      <div class="btn-group d-flex w-100" role="group">
        {% comment %} <a href="{% url 'home' %}" type="button" class="btn btn-primary w-100"><i class="fa fa-home" aria-hidden="true"></i> Home</a> {% endcomment %}
        <a href="{% url 'info' %}" type="button" class="btn btn-primary w-100"><i class="fa fa-info-circle" aria-hidden="true"></i> Stats</a>
        <a href="{% url 'risk-scan' %}" type="button" class="btn btn-info w-100"><i class="fa fa-flask" aria-hidden="true"></i> COVID-19 Test</a>
      </div>
    </div>
  </div>


  <!-- Modal - Safe -->
  <div class="modal fade" id="safeModal" tabindex="-1" role="dialog" aria-labelledby="safeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-white bg-success small">
          <h6 class="modal-title" id="safeModalTitle">You Feel Safe</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body small">
          <h6> That’s Great. </h6> <br /> Then please regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water 
          and Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.  <br /> <br />
          <h6>Stay Home, Stay Safe</h6>
        </div>
        <div class="modal-footer d-flex w-100">
          <button type="button" class="btn btn-secondary w-100 btn-sm" data-dismiss="modal">Close</button>
          {% comment %} <button type="button" class="btn btn-primary w-100 btn-sm">Save changes</button> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <!-- Modal - Panicked -->
  <div class="modal fade" id="panicModal" tabindex="-1" role="dialog" aria-labelledby="panicModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-white bg-warning small">
          <h6 class="modal-title" id="panicModalTitle">You Feel Panicked</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body small">
          It’s totally ok. <br /> Most of us are now panicked in this situation. Just stay Home as much as possible and please regularly and 
          thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water and Maintain at least 1 metre 
          (3 feet) distance between yourself and anyone who is coughing or sneezing. <br />
          If you feel worried, you can take a <a href="{% url 'risk-scan' %}">Online Covid-19 Test</a> provided by Apollo Hospital.
        </div>
        <div class="modal-footer d-flex w-100">
          <button type="button" class="btn btn-secondary w-25 btn-sm" data-dismiss="modal">Close</button>
          <a class="btn btn-info w-100 btn-sm" href="{% url 'risk-scan' %}"><i class="fa fa-flask" aria-hidden="true"></i> Online Covid-19 Test</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal - Affected -->
  <div class="modal fade" id="affectedModal" tabindex="-1" role="dialog" aria-labelledby="affectedModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-white bg-danger small">
          <h6 class="modal-title" id="affectedModalTitle">You Feel Affected</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body small">
          The most common symptoms of COVID-19 are fever, tiredness, and dry cough. If you have these symptoms then please do the <a href="{% url 'risk-scan' %}">Online Covid-19 Test</a> by Apollo Hospital which will guide you in your next step.
        </div>
        <div class="modal-footer d-flex w-100">
          <button type="button" class="btn btn-secondary w-25 btn-sm" data-dismiss="modal">Close</button>
          <a class="btn btn-info w-100 btn-sm" href="{% url 'risk-scan' %}"><i class="fa fa-flask" aria-hidden="true"></i> Online Covid-19 Test</a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  {# corona-bot #}
  <script type="text/javascript">
      /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
      (function(d, m){
        var kommunicateSettings = {"appId":"2526acfe6a6e85e42ba5747366d712003","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
  </script>
  {# end of corona-bot #}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {
      'packages': ['geochart'],
      'mapsApiKey': 'AIzaSyDIHUCyaqDFq-oCGWz6dMTN5oybhSeoOms'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data1 = {{data1 | safe}} //safe
      var data2 = {{data2 | safe}} //panicked
      var data3 = {{data3 | safe}} //affected

      var data1 = google.visualization.arrayToDataTable([
        ['Provinces', 'City Name', 'Value', {role:'tooltip', p:{html: true}}],
        data1[0], data1[1], data1[2], data1[3], data1[4], data1[5], data1[6], data1[7],
      ]);
      var data2 = google.visualization.arrayToDataTable([
        ['Provinces', 'City Name', 'Value', {role:'tooltip', p:{html: true}}],
        data2[0], data2[1], data2[2], data2[3], data2[4], data2[5], data2[6], data2[7],
      ]);
      var data3 = google.visualization.arrayToDataTable([
        ['Provinces', 'City Name', 'Value', {role:'tooltip', p:{html: true}}],
        data3[0], data3[1], data3[2], data3[3], data3[4], data3[5], data3[6], data3[7],
      ]);

      var w = document.getElementById('safe').offsetWidth;


      var options1 = {
        region: 'BD',
        resolution: 'provinces',
        dataMode: 'regions',
        colors: ['#fff', '#28a745'],
        width: w,
        keepAspectRatio: false,
        legend: {
          textStyle: {
            color: 'blue',
            fontSize: 16
          }
        },
        tooltip: {
          isHtml: true
        },
        forceIFrame: true
      };
      var options2 = {
        region: 'BD',
        resolution: 'provinces',
        dataMode: 'regions',
        colors: ['#fff', '#ffc107'],
        width: w,
        keepAspectRatio: false,
        legend: {
          textStyle: {
            color: 'blue',
            fontSize: 16
          }
        },
        tooltip: {
          isHtml: true
        },
        forceIFrame: true
      };
      var options3 = {
        region: 'BD',
        resolution: 'provinces',
        dataMode: 'regions',
        colors: ['#fff', '#dc3545'],
        width: w,
        keepAspectRatio: false,
        legend: {
          textStyle: {
            color: 'blue',
            fontSize: 16
          }
        },
        tooltip: {
          isHtml: true
        },
        forceIFrame: true
      };

      var chart1 = new google.visualization.GeoChart(document.getElementById('safe'));
      var chart2 = new google.visualization.GeoChart(document.getElementById('panicked'));
      var chart3 = new google.visualization.GeoChart(document.getElementById('affected'));

      chart1.draw(data1, options1);
      chart2.draw(data2, options2);
      chart3.draw(data3, options3);
    }

    function initMap() {
      geocoder = new google.maps.Geocoder;
    }

    function getPosition(options) {
      return new Promise((resolve, reject) => {
        navigator.geolocation.getCurrentPosition(resolve, ({
            code,
            message
          }) =>
          reject(Object.assign(new Error(message), {
            name: "PositionError",
            code
          })),
          options);
      });
    };

    async function main(state) {
      var position;
      try {
        position = await this.getPosition({
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 36000
        });

        var coords = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
        console.log('Using HTML5 Geolocation API')

        geocoder.geocode({
            'location': coords,
          },
          function (results, status) {
            if (status === 'OK') {
              if (results[0]) {
                var filtered_array = results[0].address_components.filter(function (address_component) {
                  return address_component.types.includes("administrative_area_level_2");
                });
                district = filtered_array.length ? filtered_array[0].long_name : "";

                var div_filtered_array = results[0].address_components.filter(function (address_component) {
                  return address_component.types.includes("administrative_area_level_1");
                });
                division = div_filtered_array.length ? div_filtered_array[0].long_name : "";

                callApi(state, coords, division, district, results[0].formatted_address);

                document.getElementById("info").innerHTML = `Current Location: ${results[0].formatted_address}`;
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
      } catch (e) {
        console.log(e)
        if (e.name == 'PositionError') {
          console.log(e.message + ". code = " + e.code);
          var settings = {
            "url": "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDIHUCyaqDFq-oCGWz6dMTN5oybhSeoOms",
            "method": "POST",
            "timeout": 0,
          };

          $.ajax(settings).done(function (response) {
            var coords = {
              lat: response.location.lat,
              lng: response.location.lng
            }

            console.log('Fallback, Using Google Geolocation API')

            geocoder.geocode({
                'location': coords,
              },
              function (results, status) {
                if (status === 'OK') {
                  if (results[0]) {
                    var filtered_array = results[0].address_components.filter(function (address_component) {
                      return address_component.types.includes("administrative_area_level_2");
                    });
                    district = filtered_array.length ? filtered_array[0].long_name : "";

                    var div_filtered_array = results[0].address_components.filter(function (address_component) {
                      return address_component.types.includes("administrative_area_level_1");
                    });
                    division = div_filtered_array.length ? div_filtered_array[0].long_name : "";

                    callApi(state, coords, division, district, results[0].formatted_address);

                    document.getElementById("info").innerHTML =
                      `Current Location: ${results[0].formatted_address}`;
                  } else {
                    window.alert('No results found');
                  }
                } else {
                  window.alert('Geocoder failed due to: ' + status);
                }
              });
          });
        }
      }


    }

    function callApi(state, coords, division, district, address) {

      // ajax call
      $.ajax({
        url: '{% url 'update' %}',
        data: {
          'state': state,
          'lat': coords.lat,
          'lng': coords.lng,
          'division': division,
          'district': district,
          'address': address
        },
        dataType: 'json',
        success: function (data) {
          if (data) {
            NProgress.done();
            document.getElementById("info").innerHTML = `<i class="fa fa-map-marker" aria-hidden="true"></i> ${data.address}`;
            if(data.state === '1') {
              $('#safeModal').modal('show')
            }
            if(data.state === '2') {
              $('#panicModal').modal('show')
            }
            if(data.state === '3') {
              $('#affectedModal').modal('show')
            }
          } else {
            console.log("hoi nai, server gese");
            NProgress.done();
          }
        }
      });
    }

    $(document).ready(function () {

      NProgress.configure({ parent: '#info' });

      $('.carousel').carousel({
        interval: 3000,
        pause: false
      })

      $(':radio[name="radio-button"]').change(function () {
        NProgress.start();
        var state = $(this).filter(':checked').val();
        if (navigator.geolocation) {
          main(state);
        } else {
          document.getElementById("info").innerHTML = 'Geolocation is not supported by this device';
        }

      });
    });
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIHUCyaqDFq-oCGWz6dMTN5oybhSeoOms&callback=initMap"
    async defer></script>
  
</body>

</html>