{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

  
  <title>Let Them Know</title>
</head>

<body>
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <nav class="navbar  bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand text-primary p-0 py-1" href="/"><i class="fa fa-home fa-lg"></i></a> 
      <a class="navbar-brand text-primary p-0 py-1" href="/">
        Let Them Know
      </a> 

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-text text-primary p-0 py-1" href="/info"><i class="fa fa-info-circle fa-lg"></i></a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container mt-2">
    <div class="row">
      <div class="col-sm-12">
        <div class="corona_stat_table">
          <table class="table small table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="3" class="text-center font-weight-bold">বিশ্বে</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>মোট আক্রান্ত: {{ world_result.cases }}</td>
                <td>মৃত্যু: {{ world_result.deaths }}</td>
                <td>সুস্থ: {{ world_result.recovered }}</td>
              </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="3" class="text-center font-weight-bold">বাংলাদেশে</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>মোট আক্রান্ত: {{ bangladesh_result.cases }}</td>
                <td>আজ আক্রান্ত: {{ bangladesh_result.todayCases }}</td>
                <td>মোট মৃত্যু: {{ bangladesh_result.deaths }}</td>
              </tr>
              <tr>
                <td>আজ মৃত্যু: {{ bangladesh_result.todayDeaths }}</td>
                <td>সুস্থ: {{ bangladesh_result.recovered }}</td>
                <td>বর্তমানে আক্রান্ত: {{ bangladesh_result.active }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="alert alert-info small text-center font-weight-bold" role="alert">
          বাংলাদেশে করোনায় আক্রান্ত ও মৃত্যুর চিত্র (২০ দিন)
        </div>
        <canvas id="casesChart" width="100%"></canvas>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!--Load the AJAX API-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    function drawLineChart() {

      var jsonData = $.ajax({
        url: 'https://corona.lmao.ninja/v2/historical/Bangladesh',
        dataType: 'json',
      }).done(function (results) {

        var cases = results.timeline.cases;

        // Split timestamp and data into separate arrays
        var labels = [], data=[];
        Object.keys(cases).forEach(function(key) {
          labels.push(key);
          data.push(cases[key]);
        });

        var deaths = results.timeline.deaths;

        // Split timestamp and data into separate arrays
        var labels_deaths = [], data_deaths=[];
        Object.keys(deaths).forEach(function(key) {
          labels_deaths.push(key);
          data_deaths.push(deaths[key]);
        });

        // Get the context of the canvas element we want to select
        var ctx = document.getElementById("casesChart").getContext("2d");

        var days = 20;
        function slicearr(data) {
          return data.slice(Math.max(data.length - days, 0))
        }

        // Instantiate a new chart
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
            labels : slicearr(labels),
            datasets : [{
              label: 'আক্রান্ত',
              borderColor: '#ffc107',
              data : slicearr(data)
            },
            {
              label: 'মৃত্যু',
              borderColor: '#dc3545',
              data : slicearr(data_deaths)
            }]
          },

          // Configuration options go here
          options: {}
        });

      });
    }

    drawLineChart();

  </script>
  
</body>

</html>